<div class="main">
  <div class="top-message">
    <h1>UndangApp</h1>
    <h2>cara digital undang ke pertemuan</h2>
    <p>undang teman dekat, teman kampus, teman sekolah, teman kerja, pak RT, bu RT, pak RW, bu RW, siapapun asalkan kamu kenal. <span>Jangan undang orang yang tak dikenal!</span></p>
  </div>
</div>