<div>
  <div class="vh-75">
    <h1 class="h1 mb-0">UndangApp</h1>
    <h2 class="h1 text-black-50">Cara Digital Undang ke Pertemuan</h2>
    <p class="h5 mt-5 text-black-50 w-50">undang teman dekat, teman kampus, teman sekolah, teman kerja, pak RT, bu RT, pak RW, bu RW, siapapun asalkan kamu kenal. <span>Jangan undang orang yang tak dikenal!</span></p>
    <div class="btn-group">
      <%= link_to("Masuk", "/login", class: "btn btn-dark") %>
      <%= link_to("Daftar", "/signup", class: "btn btn-dark") %>
    </div>
  </div>
</div>